
.boton {
    background-color: var(--secundario);
    color: var(--oscuro);
    margin-top: .5rem;
    padding: .5rem 3rem;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    border:none;
}
.boton:hover{
    cursor: pointer;
}
.iconos {
    align-items: center;
    border-radius: 50%;
}

.boton, .iconos {
    display: flex;
 justify-content: center; 
}