:root {
    --blanco: #ffffff;
    --primario: #07496e;
    --secundario: #b5e7b3;
    --gris: #757575;
    --oscuro: #212121;
}
html {
    min-height: 100%;
}
p {
    line-height: 2;
    padding-left: 100px;
    padding-right: 100px;
    /* text-align: center; */
}
@media (max-width: 768px) {
    p{
    padding-left: 40px;
    padding-right: 40px;
}
}

body {
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--secundario) 0%, white 100%);
    min-height: 100%;
    
}
h1 {
    font-size: 1.4rem;
}
h1 span {
    font-size: 1.4rem;
}
h1, h2{
    text-align: center;
}
h2 {
    font-size: 2.4rem;
}
.contenedor {
    margin: 0 auto;
    max-width: 1200px;
}
.nav-bg {
    background-color: var(--secundario);
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:768px) {
    .navegacion {
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion a{
    padding: 1rem 2rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}
.navegacion a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}
.navegacion a:last-of-type {
    margin-bottom:0;
}
@media (min-width:768px) {
    .navegacion a{
        margin-bottom: 0;
    }
}



.hero {
    height: 450px;
    background-image: url(../img/mik.png);
    /* background-position: -20px -100px;  */
    background-size: 40%;
    background-size: auto;
    background-position: center 20%;
    margin-bottom: 2rem;
    position: relative;
}
@media (max-width: 768px) {
  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%; 
}
}



.contenido-hero {
    background-color: rgb(0 0 0 / 70%); /** Otra opción **/
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
}

.contenido-hero h2, 
.contenido-hero p {
    color: var(--blanco);
}


.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    margin-top: .5rem;
    padding: .5rem 3rem;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    border:none;
}
.boton:hover{
    cursor: pointer;
}
.formulario {
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 10px;
}
.formulario legend {
    text-align: center;
    font-size: 1.2rem;
    color: var(--primario);
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}
@media (min-width:768px) {
    .formulario {
        max-width: 800px;
        margin: 0 auto;
    }
}
.contenedor-campos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.campo {
    margin-bottom: 1rem;
    width: 100%;
}
@media (min-width:480px) {
    .campo {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .campo{
        flex: 0 0 calc(50% - .5rem)
    }
}
.campo label {
    color: var(--blanco);
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
}
@media (min-width:480px) {
    .campo label {
        flex: 0 0 90px;
    }
}
.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="mail"],
.campo textarea {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
}
@media (min-width: 768px) {
    :is(.campo) :is( 
        input[type="text"], 
        input[type="text"],  
        input[type="tel"],  
        input[type="mail"] , 
        textarea ) {
        flex: 1;
    }
}


.formulario {
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 10px;
}
.formulario legend {
    text-align: center;
    font-size: 1.2rem;
    color: var(--primario);
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}
@media (min-width:768px) {
    .formulario {
        max-width: 800px;
        margin: 0 auto;
    }
}
.footer {
    text-align: center;
}

.w-100{
    flex: 0 0 100%;
}
.campo textarea {
    height: 4rem;
}

.enviar {
    display: flex;
    justify-content: flex-end;
}




.chikka{
    position: relative;
        left: 73%;
        bottom: 28.5rem;
      
}
@media (max-width: 1151px) {
    .chikka{
    display: none /* chao imagen */
   
    }
}