
@media (min-width:932px) {
    .servicios {
        display: grid; /* cuadricula */
        grid-template-columns: 1fr 3fr; /* la segunda tome el triple del espacio */
        column-gap: 2rem; /* separacion entre esas dos columnas */
        grid-auto-flow: column; /* se adecue a la columna disponible */
    }

    
    .servicios h3, p{
        grid-column: 2/3; /* mover a la columna deseada */
    }


    .iconos{
        max-width: 100%; /* tome todo el ancho */
        position: relative; /* para manipular esta cosa */
			left: 20px;
			top: 75px;
    }

    .servicios p {  /* para ir restando espacio h3-p */
        margin-top: 0.5rem; 
        position: relative;
        top: -2.5rem; 
        max-width: 100%;
      }
 
}

.servicio {
    text-align: center;
}


      





